data/
xai_ids_env/
.zen

logs/
mlruns/
mlflow.db       

artifacts/         
*.pth              
*.pt
*.joblib           

.env               


__pycache__/
*.pyc
.ipynb_checkpoints/ 

.vscode/           